:root{
    --main-blue-color: #4D5AE5 ;
    --main-white-color: #ffffff ;
    --main-white2-color: #F4F4FD;
    --main-gray-color: #2E2F42;
    --main-blue2-color: #404BBF;
    --main-gray2-color: #434455;

}

body{
font-family:Roboto, sans-serif ;
color:var(--main-gray2-color) ;
background-color:var(--main-white-color)
}
.link {
text-decoration: none;
}
.list{
list-style: none;
}
/* ********************header**************** */
.part-logo{
font-family: Raleway, sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-blue-color);    
}

.logo{
font-family: Raleway, sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-gray-color);
}

.header-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--main-gray-color);
}

.address{
font-style: normal;    
}
.address-contact
{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--main-gray2-color)
}

.header-link:hover,
.header-link:focus {
    color: var(--main-blue2-color);
}

.address-contact:hover,
.address-contact:focus {
    color: var(--main-blue2-color);
}

/* ********************hero****************** */
.hero-title{
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--main-white-color);    
}

.hero{
background: var(--main-gray-color);    
}

.button{
font-family: 'Roboto'sans-serif;
font-style: 400;
font-weight: 500;
font-size: 16px;
line-height: 1.50;
display: flex;
align-items: center;
letter-spacing: 0.04em;
background: var(--main-blue-color);
color: var(--main-white-color);
cursor: pointer
}

.button:hover,
.button:focus{
    color: var(--main-blue2-color)
    /* background: #404BBF */
}

/* **********************section**************** */
.section-title{
font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: var(--main-gray-color);    
}

.section-link{
font-weight: 400;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color:var(--main-gray2-color)    
}
/* **********************content**************** */

.content-title{
    font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--main-gray-color);
}

/********************** aside ******************/
.aside{
background: var(--main-white2-color);    
}

.aside-title{
    font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--main-gray-color);
}

.aside-subtitle{
    font-weight: 500;
font-size: 20px;
line-height: 1.20;
text-align: center;
letter-spacing: 0.02em;
color: var(--main-gray-color);
}

.aside-text{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--main-gray2-color);
}

.aside-item{
background: var(--main-white-color)
}
/********************** footer ******************/
.footer{
    background: var(--main-gray-color);
}

.footer-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--main-white2-color);    
}

.part-logo-white{
color: var(--main-white2-color)    
}

/* +++++++++++++++++++++++++++++++Portfolio+++++++++ */
.btn{
color: var(--main-blue-color);
background: var(--main-white2-color);
}

.btn:hover,
.btn:focus{
background: var(--main-blue2-color);
color: var(--main-white-color)
}

.slider-title{
font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: var(--main-gray-color);    
}

.slider-text{
 font-weight: 400;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
}