body{
font-family:Roboto, sans-serif ;
color:#434455 ;
}
.link {
text-decoration: none;
}
.list{
list-style: none;
}
/* ********************header**************** */
.part-logo{
font-family: Raleway, sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;    
}

.logo{
font-family: Raleway, sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}

.header-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}

.address{
font-style: normal;    
}
.address-mail-link,
.address-tel-link
{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455
}

.header-link:hover,
.header-link:focus {
    color: #404BBF;
}

.address-mail-link:hover,
.address-mail-link:focus{
color: #404BBF;
}
    
.address-tel-link:hover,
.address-tel-link:focus {
    color: #404BBF;
}

/* ********************hero****************** */
.hero-title{
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;    
}

.hero{
background: #2E2F42;    
}

.button{
font-family: 'Roboto'sans-serif;
font-style: 400;
font-weight: 500;
font-size: 16px;
line-height: 1.50;
display: flex;
align-items: center;
letter-spacing: 0.04em;
background: #4D5AE5;
color: #FFFFFF;
cursor: pointer
}

.button:hover,
.button:focus{
    color: #404BBF
    /* background: #404BBF */
}

/* **********************section**************** */
.section-title{
font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: #2E2F42;    
}

.section-link{
font-weight: 400;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #434455;    
}
/* **********************content**************** */

.content-title{
    font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}

/********************** aside ******************/
.aside{
background: #F4F4FD;    
}

.aside-title{
    font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}

.aside-subtitle{
    font-weight: 500;
font-size: 20px;
line-height: 1.20;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}

.side-text{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434445;
}
/********************** footer ******************/
.footer{
    background: #2E2F42;
}

.footer-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;    
}

.part-logo-white{
color: #F4F4FD    
}

/* +++++++++++++++++++++++++++++++Portfolio+++++++++ */
.btn{
color: #4D5AE5;
background: #F4F4FD;
}

.btn:hover,
.btn:focus{
background: #404BBF;
color: #FFFFFF
}

.slider-title{
font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: #2E2F42;    
}

.slider-text{
 font-weight: 400;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
}